## Importando Bibliotecas

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
adult=pd.read_csv('adult.data', sep=',', header = None, names = ['age','workclass','fnlwgt','education','education_num',
                                                                      'marital_status','occupation','relationship','race',
                                                                      'sex','capital_gain','capital_loss','hours_per_week',
                                                                      'native_country', 'income'])
adult.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
adult_teste=pd.read_csv('adult.test', sep=',', header = None, names = ['age','workclass','fnlwgt','education','education_num',
                                                                      'marital_status','occupation','relationship','race',
                                                                      'sex','capital_gain','capital_loss','hours_per_week',
                                                                      'native_country', 'income'])
adult_teste.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,|1x3 Cross validator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.

In [4]:
adult.shape

(32561, 15)

In [5]:
adult_teste.shape

(16282, 15)

In [6]:
adult_teste = adult_teste.drop(index=adult_teste.index[0], 
        axis=0)
adult_teste.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.
5,18,?,103497.0,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K.

In [7]:
adult_teste.tail()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
16277,39,Private,215419.0,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,0.0,36.0,United-States,<=50K.
16278,64,?,321403.0,HS-grad,9.0,Widowed,?,Other-relative,Black,Male,0.0,0.0,40.0,United-States,<=50K.
16279,38,Private,374983.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
16280,44,Private,83891.0,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,0.0,40.0,United-States,<=50K.
16281,35,Self-emp-inc,182148.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K.

## Variavel Resposta

In [8]:
adult['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [9]:
adult_teste['income'].unique()

array([' <=50K.', ' >50K.'], dtype=object)

In [10]:
adult['var_resp'] = np.where(adult['income'] == ' >50K',1,0)
adult['var_resp'].mean()

0.2408095574460244

In [11]:
adult_teste['var_resp'] = np.where(adult_teste['income'] == ' >50K.',1,0)
adult_teste['var_resp'].mean()

0.23622627602727106

## Analisando Features

In [12]:
adult = adult.replace(' ?',np.NaN)

In [13]:
adult_teste = adult_teste.replace(' ?',np.NaN)

In [14]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  31978 non-null  object
 14  income          32561 non-null  object
 15  var_resp        32561 non-null  int32
dtypes: int32(1), int64(6), object(9)
memory usage: 3.9+ MB

### Variaveis categ√≥ricas

In [15]:
adult['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', nan, ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [16]:
adult['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [17]:
adult['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [18]:
adult['education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [19]:
education = adult[['education', 'education_num']].copy()
education.groupby(['education', 'education_num']).education_num.count()

education      education_num
 10th          6                  933
 11th          7                 1175
 12th          8                  433
 1st-4th       2                  168
 5th-6th       3                  333
 7th-8th       4                  646
 9th           5                  514
 Assoc-acdm    12                1067
 Assoc-voc     11                1382
 Bachelors     13                5355
 Doctorate     16                 413
 HS-grad       9                10501
 Masters       14                1723
 Preschool     1                   51
 Prof-school   15                 576
 Some-college  10                7291
Name: education_num, dtype: int64

In [20]:
adult['marital_status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [21]:
adult['marital_status'].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital_status, dtype: int64

In [22]:
adult['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', nan, ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [23]:
adult['occupation'].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [24]:
adult['relationship'].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [25]:
adult['relationship'].value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64

In [26]:
adult['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [27]:
adult['race'].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [28]:
adult['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [29]:
adult['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

In [30]:
adult['native_country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', nan, ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [31]:
adult['native_country'].value_counts()

 United-States                 29170
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64

## Variaveis Numericas

In [32]:
adult.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,var_resp
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456,0.240810
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429,0.427581
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

## Tratativa para categoricos

In [33]:
from sklearn.base import BaseEstimator, TransformerMixin


class GroupCategoricalTransformer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        # Group Countries
        region = {'United-States':'north_america',
             'Mexico':'latin_america',
             'Philippines': 'southeast_asia',
             'Germany':'western_europe',
             'Canada':'north_america',
             'Puerto-Rico':'latin_america',
             'El-Salvador':'latin_america',
             'India':'central_asia',
             'Cuba':'latin_america',
             'England':'western_europe',
             'Jamaica':'latin_america',
             'South':'latin_america',
             'China':'far_east',
             'Italy':'western_europe',
             'Dominican-Republic' :'caribean',
             'Vietnam': 'southeast_asia',
             'Guatemala':'latin_america',
             'Japan':'far_east',
             'Poland':'eastern_europe',
             'Columbia':'latin_america',
             'Taiwan':'far_east',
             'Haiti':'latin_america',
             'Iran':'central_asia',
             'Portugal':'western_europe',
             'Nicaragua':'caribean',
             'Peru':'latin_america',
             'Greece':'eastern_europe',
             'France':'western_europe',
             'Ecuador':'latin_america',
             'Ireland':'western_europe',
             'Hong':'far_east',
             'Trinadad&Tobago':'caribean',
             'Cambodia': 'southeast_asia',
             'Laos': 'southeast_asia',
             'Thailand': 'southeast_asia',
             'Yugoslavia':'eastern_europe',
             'Outlying-US(Guam-USVI-etc)':'latin_america',
             'Honduras':'latin_america',
             'Hungary':'eastern_europe',
             'Scotland':'western_europe',
             'Holand-Netherlands':'western_europe'}
        
        
        dev = {'United-States':'develop',
             'Mexico':'subdevelop',
             'Philippines': 'subdevelop',
             'Germany':'develop',
             'Canada':'develop',
             'Puerto-Rico':'subdevelop',
             'El-Salvador':'subdevelop',
             'India':'subdevelop',
             'Cuba':'subdevelop',
             'England':'develop',
             'Jamaica':'subdevelop',
             'South':'subdevelop',
             'China':'subdevelop',
             'Italy':'develop',
             'Dominican-Republic' :'subdevelop',
             'Vietnam': 'subdevelop',
             'Guatemala':'subdevelop',
             'Japan':'develop',
             'Poland':'develop',
             'Columbia':'subdevelop',
             'Taiwan':'develop',
             'Haiti':'subdevelop',
             'Iran':'subdevelop',
             'Portugal':'develop',
             'Nicaragua':'subdevelop',
             'Peru':'subdevelop',
             'Greece':'develop',
             'France':'develop',
             'Ecuador':'subdevelop',
             'Ireland':'develop',
             'Hong':'develop',
             'Trinadad&Tobago':'subdevelop',
             'Cambodia': 'subdevelop',
             'Laos': 'subdevelop',
             'Thailand': 'subdevelop',
             'Yugoslavia':'subdevelop',
             'Outlying-US(Guam-USVI-etc)':'develop',
             'Honduras':'subdevelop',
             'Hungary':'develop',
             'Scotland':'develop',
             'Holand-Netherlands':'develop'}
        X_c = X.copy()
        X_c["region"] = X_c["native_country"].str.strip().map(region)
        X_c["dev"] = X_c["native_country"].str.strip().map(dev)
        X_c = X_c.drop(columns='native_country')
        return X_c

## Separacao features

In [34]:
X_train = adult.drop(columns=['var_resp', 'income', 'education'])
y_train = adult['var_resp']

In [35]:
X_test =  adult_teste.drop(columns=['var_resp', 'income', 'education'])
y_test = adult_teste['var_resp']

In [36]:
X_train.head()

,age,workclass,fnlwgt,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

## Cria√ß√£o Pipeline

In [37]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV

## Pipeline das Num√©ricas e Categoricas

In [38]:
numeric_features = ["age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", StandardScaler())]
)

categorical_features = ["workclass", "marital_status", "occupation", "relationship", "race", "sex", "native_country"]
categorical_transformer =Pipeline(
    steps=[("group", GroupCategoricalTransformer()),
           ("imputer", SimpleImputer(strategy="constant", fill_value = 'non_informed')),
           ("encoder", OneHotEncoder(handle_unknown="ignore"))]
)



preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

### KNN

In [39]:
from sklearn.neighbors import KNeighborsClassifier

knn = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", KNeighborsClassifier(n_neighbors=3))]
)

## Tuning Hiperparametros

In [40]:
import scipy.stats as stats
from sklearn.utils.fixes import loguniform

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV


param_grid_knn = {
    "preprocessor__num__imputer__strategy": ["mean", "median"],
#     "preprocessor__cat__encoder__min_frequency": stats.uniform(0, 0.1),
#     "preprocessor__cat__encoder__max_categories": [None, 5, 10, 15, 20],
    "classifier__n_neighbors": [1,3,5,10,15,20],
    "classifier__weights": ['uniform', 'distance'],
    "classifier__p": [1,2],
}

random_knn = RandomizedSearchCV(knn, param_grid_knn, n_iter = 15, cv=5, scoring = 'accuracy', random_state=0)

In [41]:
random_knn.fit(X_train, y_train)

RandomizedSearchCV(cv=5,
                   estimator=Pipeline(steps=[('preprocessor',
                                              ColumnTransformer(transformers=[('num',
                                                                               Pipeline(steps=[('imputer',
                                                                                                SimpleImputer(strategy='median')),
                                                                                               ('scaler',
                                                                                                StandardScaler())]),
                                                                               ['age',
                                                                                'fnlwgt',
                                                                                'education_num',
                                                                                'capital_gain',
                                                                                'capital_loss',
                                                                                'hours_per_week']),
                                                                              ('cat',
                                                                               Pipeline(steps=[('group',
                                                                                                GroupCategoricalTransformer()),
                                                                                               ('imputer'...
                                                                                'marital_status',
                                                                                'occupation',
                                                                                'relationship',
                                                                                'race',
                                                                                'sex',
                                                                                'native_country'])])),
                                             ('classifier',
                                              KNeighborsClassifier(n_neighbors=3))]),
                   n_iter=15,
                   param_distributions={'classifier__n_neighbors': [1, 3, 5, 10,
                                                                    15, 20],
                                        'classifier__p': [1, 2],
                                        'classifier__weights': ['uniform',
                                                                'distance'],
                                        'preprocessor__num__imputer__strategy': ['mean',
                                                                                 'median']},
                   random_state=0, scoring='accuracy')

In [42]:
print("Best params:")
print(random_knn.best_params_)

Best params:
{'preprocessor__num__imputer__strategy': 'median', 'classifier__weights': 'uniform', 'classifier__p': 2, 'classifier__n_neighbors': 15}

In [43]:
numeric_features = ["age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
numeric_transformer_best = Pipeline(
    steps=[("imputer", SimpleImputer(strategy=random_knn.best_params_['preprocessor__num__imputer__strategy'])),
           ("scaler", StandardScaler())]
)




preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer_best, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

knn_best = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", KNeighborsClassifier(n_neighbors=random_knn.best_params_['classifier__n_neighbors'],
                                                                              weights = random_knn.best_params_['classifier__weights'],
                                                                              p = random_knn.best_params_['classifier__p']))]
)

knn_best.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['age', 'fnlwgt',
                                                   'education_num',
                                                   'capital_gain',
                                                   'capital_loss',
                                                   'hours_per_week']),
                                                 ('cat',
                                                  Pipeline(steps=[('group',
                                                                   GroupCategoricalTransformer()),
                                                                  ('imputer',
                                                                   SimpleImputer(fill_value='non_informed',
                                                                                 strategy='constant')),
                                                                  ('encoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['workclass',
                                                   'marital_status',
                                                   'occupation', 'relationship',
                                                   'race', 'sex',
                                                   'native_country'])])),
                ('classifier', KNeighborsClassifier(n_neighbors=15))])

In [46]:
from sklearn.metrics import classification_report
y_pred = knn_best.predict(X_test)
target_names = ['<=50K', '>50k']
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

       <=50K       0.88      0.92      0.90     12435
        >50k       0.71      0.61      0.65      3846

    accuracy                           0.85     16281
   macro avg       0.80      0.76      0.78     16281
weighted avg       0.84      0.85      0.84     16281

In [47]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[11470,   965],
       [ 1516,  2330]], dtype=int64)

In [50]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average='macro')

0.7951954562015777

In [51]:
from sklearn.metrics import recall_score
recall_score(y_test, y_pred, average='macro')

0.7641103472848202

In [53]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.847613782937166

### Arvore de Decis√£o

In [54]:
from sklearn.tree import DecisionTreeClassifier

tree = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", DecisionTreeClassifier(random_state=0))]
)

In [57]:
param_grid_tree = {
    "preprocessor__num__imputer__strategy": ["mean", "median"],
#     "preprocessor__cat__encoder__min_frequency": stats.uniform(0, 0.1),
#     "preprocessor__cat__encoder__max_categories": [None, 5, 10, 15, 20],
    "classifier__max_depth": [1,3,5,10,15,20],
    "classifier__criterion": ['gini', 'entropy'],
    "classifier__min_samples_split": [3,5,10,20,25,50,100],
    "classifier__min_samples_leaf": [3,5,10,20,25,50,100],
}

tree_knn = RandomizedSearchCV(tree, param_grid_tree, n_iter = 15, cv=5, scoring = 'accuracy', random_state=0)

In [58]:
tree_knn.fit(X_train, y_train)

RandomizedSearchCV(cv=5,
                   estimator=Pipeline(steps=[('preprocessor',
                                              ColumnTransformer(transformers=[('num',
                                                                               Pipeline(steps=[('imputer',
                                                                                                SimpleImputer(strategy='median')),
                                                                                               ('scaler',
                                                                                                StandardScaler())]),
                                                                               ['age',
                                                                                'fnlwgt',
                                                                                'education_num',
                                                                                'capital_gain',
                                                                                'capital_loss',
                                                                                'hours_per_week']),
                                                                              ('cat',
                                                                               Pipeline(steps=[('group',
                                                                                                GroupCategoricalTransformer()),
                                                                                               ('imputer'...
                                              DecisionTreeClassifier(random_state=0))]),
                   n_iter=15,
                   param_distributions={'classifier__criterion': ['gini',
                                                                  'entropy'],
                                        'classifier__max_depth': [1, 3, 5, 10,
                                                                  15, 20],
                                        'classifier__min_samples_leaf': [3, 5,
                                                                         10, 20,
                                                                         25, 50,
                                                                         100],
                                        'classifier__min_samples_split': [3, 5,
                                                                          10,
                                                                          20,
                                                                          25,
                                                                          50,
                                                                          100],
                                        'preprocessor__num__imputer__strategy': ['mean',
                                                                                 'median']},
                   random_state=0, scoring='accuracy')

In [59]:
print("Best params:")
print(tree_knn.best_params_)

Best params:
{'preprocessor__num__imputer__strategy': 'mean', 'classifier__min_samples_split': 25, 'classifier__min_samples_leaf': 20, 'classifier__max_depth': 10, 'classifier__criterion': 'entropy'}

In [60]:
numeric_features = ["age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
numeric_transformer_best = Pipeline(
    steps=[("imputer", SimpleImputer(strategy=tree_knn.best_params_['preprocessor__num__imputer__strategy'])),
           ("scaler", StandardScaler())]
)




preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer_best, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

tree_best = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier",DecisionTreeClassifier(random_state=0,
                                                                               min_samples_split=tree_knn.best_params_['classifier__min_samples_split'],
                                                                               min_samples_leaf=tree_knn.best_params_['classifier__min_samples_leaf'],
                                                                               max_depth=tree_knn.best_params_['classifier__max_depth'],
                                                                               criterion=tree_knn.best_params_['classifier__criterion']))]
)

tree_best.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['age', 'fnlwgt',
                                                   'education_num',
                                                   'capital_gain',
                                                   'capital_loss',
                                                   'hours_per_week']),
                                                 ('cat',
                                                  Pipeline(steps=[('group',
                                                                   GroupCategoricalTransformer()),
                                                                  ('imputer',
                                                                   SimpleImputer(fill_value='non_informed',
                                                                                 strategy='constant')),
                                                                  ('encoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['workclass',
                                                   'marital_status',
                                                   'occupation', 'relationship',
                                                   'race', 'sex',
                                                   'native_country'])])),
                ('classifier',
                 DecisionTreeClassifier(criterion='entropy', max_depth=10,
                                        min_samples_leaf=20,
                                        min_samples_split=25,
                                        random_state=0))])

In [61]:
y_pred = tree_best.predict(X_test)
target_names = ['<=50K', '>50k']
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

       <=50K       0.87      0.95      0.91     12435
        >50k       0.79      0.56      0.65      3846

    accuracy                           0.86     16281
   macro avg       0.83      0.76      0.78     16281
weighted avg       0.86      0.86      0.85     16281

In [62]:
confusion_matrix(y_test, y_pred)

array([[11875,   560],
       [ 1702,  2144]], dtype=int64)

In [63]:
precision_score(y_test, y_pred, average='macro')

0.8337701725812842

In [64]:
recall_score(y_test, y_pred, average='macro')

0.7562140603838869

In [65]:
accuracy_score(y_test, y_pred)

0.8610650451446471

### MLP

In [66]:
from sklearn.neural_network import MLPClassifier

nnet = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", MLPClassifier(random_state=1))]
)

In [68]:
param_grid_nnet = {
    "preprocessor__num__imputer__strategy": ["mean", "median"],
#     "preprocessor__cat__encoder__min_frequency": stats.uniform(0, 0.1),
#     "preprocessor__cat__encoder__max_categories": [None, 5, 10, 15, 20],
    "classifier__hidden_layer_sizes": [(1,), (5,), (2,3), (3,2), (4,2), (3,2,2)],
    "classifier__activation": ['identity', 'logistic', 'tanh', 'relu'],
    "classifier__learning_rate_init": stats.uniform(0.00001, 0.01),
    "classifier__max_iter": [50,100, 150,200, 300, 500],
    "classifier__tol": [10**-6, 10**-5,10**-4],
}

random_nnet = RandomizedSearchCV(nnet, param_grid_nnet, n_iter = 30, cv=5, scoring = 'accuracy', random_state=0)

In [69]:
random_nnet.fit(X_train, y_train)

C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (150) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(

C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

RandomizedSearchCV(cv=5,
                   estimator=Pipeline(steps=[('preprocessor',
                                              ColumnTransformer(transformers=[('num',
                                                                               Pipeline(steps=[('imputer',
                                                                                                SimpleImputer()),
                                                                                               ('scaler',
                                                                                                StandardScaler())]),
                                                                               ['age',
                                                                                'fnlwgt',
                                                                                'education_num',
                                                                                'capital_gain',
                                                                                'capital_loss',
                                                                                'hours_per_week']),
                                                                              ('cat',
                                                                               Pipeline(steps=[('group',
                                                                                                GroupCategoricalTransformer()),
                                                                                               ('imputer',
                                                                                                SimpleImputer(fi...
                                        'classifier__hidden_layer_sizes': [(1,),
                                                                           (5,),
                                                                           (2,
                                                                            3),
                                                                           (3,
                                                                            2),
                                                                           (4,
                                                                            2),
                                                                           (3,
                                                                            2,
                                                                            2)],
                                        'classifier__learning_rate_init': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001FBFE146D90>,
                                        'classifier__max_iter': [50, 100, 150,
                                                                 200, 300,
                                                                 500],
                                        'classifier__tol': [1e-06, 1e-05,
                                                            0.0001],
                                        'preprocessor__num__imputer__strategy': ['mean',
                                                                                 'median']},
                   random_state=0, scoring='accuracy')

In [70]:
print("Best params:")
print(random_nnet.best_params_)

Best params:
{'classifier__activation': 'tanh', 'classifier__hidden_layer_sizes': (5,), 'classifier__learning_rate_init': 0.0008411249263060239, 'classifier__max_iter': 200, 'classifier__tol': 1e-06, 'preprocessor__num__imputer__strategy': 'median'}

In [71]:
numeric_features = ["age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
numeric_transformer_best = Pipeline(
    steps=[("imputer", SimpleImputer(strategy=random_nnet.best_params_['preprocessor__num__imputer__strategy'])),
           ("scaler", StandardScaler())]
)




preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer_best, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

nnet_best = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier",MLPClassifier(random_state=1,
                                                                      hidden_layer_sizes=random_nnet.best_params_['classifier__hidden_layer_sizes'],
                                                                      activation=random_nnet.best_params_['classifier__activation'],
                                                                      learning_rate_init=random_nnet.best_params_['classifier__learning_rate_init'],
                                                                      max_iter=random_nnet.best_params_['classifier__max_iter'],
                                                                      tol=random_nnet.best_params_['classifier__tol'],))]
)

nnet_best.fit(X_train, y_train)

C:\Users\lucas\Anaconda3\anaconda643\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['age', 'fnlwgt',
                                                   'education_num',
                                                   'capital_gain',
                                                   'capital_loss',
                                                   'hours_per_week']),
                                                 ('cat',
                                                  Pipeline(steps=[('group',
                                                                   GroupCategoricalTransformer()),
                                                                  ('imputer',
                                                                   SimpleImputer(fill_value='non_informed',
                                                                                 strategy='constant')),
                                                                  ('encoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['workclass',
                                                   'marital_status',
                                                   'occupation', 'relationship',
                                                   'race', 'sex',
                                                   'native_country'])])),
                ('classifier',
                 MLPClassifier(activation='tanh', hidden_layer_sizes=(5,),
                               learning_rate_init=0.0008411249263060239,
                               random_state=1, tol=1e-06))])

In [72]:
y_pred = nnet_best.predict(X_test)
target_names = ['<=50K', '>50k']
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

       <=50K       0.89      0.93      0.91     12435
        >50k       0.73      0.63      0.68      3846

    accuracy                           0.86     16281
   macro avg       0.81      0.78      0.79     16281
weighted avg       0.85      0.86      0.85     16281

In [73]:
confusion_matrix(y_test, y_pred)

array([[11513,   922],
       [ 1413,  2433]], dtype=int64)

In [74]:
precision_score(y_test, y_pred, average='macro')

0.8079358646593828

In [75]:
recall_score(y_test, y_pred, average='macro')

0.7792298736581551

In [76]:
accuracy_score(y_test, y_pred)

0.8565812910754868